body, html {
    margin: 0;
}

/*header*/

header {
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    h1 {
        text-transform: uppercase;
    }
    h3 {
        text-transform: capitalize;
        font-style: italic;
        margin-top: 0; 
    }
    nav {
        p {
            font-family: "Playwrite RO", cursive;
            font-size: 20px;
            color: gold;
            margin-top: 0
        }
    }
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            a {
                text-decoration: none;
            }
        }
    }
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0;
    background: gold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}