body, html {
    margin: 0;
}

/*header*/

header {
    width: 100%;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
    h1 {
        text-transform: uppercase;
        font-size: 60px;
        font-weight: bolder;
    }
    h3 {
        text-transform: capitalize;
        font-style: italic;
        margin-top: 0; 
    }
    nav {
        padding: 50px;
        p {
            font-family: "Playwrite RO", cursive;
            font-size: 20px;
            font-weight: bold;
            color: gold;
            margin-top: 0
        }
        ul {
            li {
                margin-right: 20px;
                a {
                    color: white;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            a {
                text-decoration: none;
            }
        }
    }
}

.bttn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0;
    background: gold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.description {
    text-align: center;
    margin: 100px auto;
    width: 50%;
}

/*services*/
.services {
    i {
        display: inline-block;
        border: 2px solid gold;
        border-radius: 50%;
        color: gold;
        padding: 10px;
    }
}
.my-card {
    text-align: center;
    margin-bottom: 50px;
    h3 {
        font-size: 16px;
    }
}
.section-header {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
    h2 {
        text-transform: uppercase;
    }
    p {
        font-style: italic;
    }
}

/*portfolio*/
.portfolio {
    background: #f0f5f1;
}
.image-container {
    position: relative;
    text-align: left;
    width: 300px;
    height: 350px;
    overflow: hidden;
    margin-bottom: 30px;
}
.card-img {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.portfolio .my-card p {
    font-style: italic;
}

/*footer*/
footer {
    padding: 20px;
    a {
        color: #212529;
        text-decoration: none;
        .hidden {
            font-size: 0;
        }
    }
    a:hover {
        color: #000;
    }
}
.copyright {
    font-size: 12px;
}
.socials {
    font-size: 20px;
    i {
        margin-right: 15px;
    }
}