body, html {
    margin: 0;
}

/*header*/

header {
    width: 100%;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    color: #fff;
    padding-bottom: 100px;
    h1 {
        text-transform: uppercase;
    }
    h3 {
        text-transform: capitalize;
        font-style: italic;
        margin-top: 0; 
    }
    nav {
        p {
            font-family: "Playwrite RO", cursive;
            font-size: 20px;
            color: gold;
            margin-top: 0
        }
    }
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            a {
                text-decoration: none;
            }
        }
    }
}

.bttn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0;
    background: gold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.description {
    text-align: center;
    margin: 100px auto;
    width: 50%;
}

/*services*/
.services {
    i {
        display: inline-block;
        border: 2px solid gold;
        border-radius: 50%;
        color: gold;
        padding: 10px;
    }
}
.my-card {
    text-align: center;
    h3 {
        font-size: 16px;
    }
}
.section-header {
    padding: 20px;
    text-align: center;
    h2 {
        text-transform: uppercase;
    }
    p {
        font-style: italic;
    }
}